#
# All the relative URL paths are intended to be GitHub ones
# For Espressif's public projects please use '../../espressif/proj', not a '../proj'
#

[submodule "OpenCV"]
	path = opencv
	active = true
	url = https://github.com/opencv/opencv.git
